*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
.mainfont{
    font-family: "Parisienne", cursive;
    font-weight: 400;
    font-style: normal;
  
}
.font1{
    font-family: "Playwrite VN", cursive;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
  }
.font2{
    font-family: "Playfair Display", serif;
    font-optical-sizing: auto;
    font-weight: 500;
    font-style: normal;
  }
.font3{
    font-family: "Great Vibes", cursive;
    font-weight: 400;
    font-style: normal;
  }
.font4 {
  font-family: "Playwrite CU", cursive;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}
.font5 {
    font-family: "Nova Square", sans-serif;
    font-weight: 400;
    font-style: normal;
  }
  
.main .img img{
  max-width: 100%;
}
.main  .countbox{
    display: flex;
    align-items: center;
    /* flex-wrap: wrap; */
    justify-content: space-evenly;
    background-size:  contain;
    background-repeat: no-repeat;
    background-position: center;
    width: fit-content;
    position: relative;
    z-index: 2;
    margin: auto;
    margin-top: -20px;
}
.main  .countbox .item{
    text-align: center;
    color: #564c2e;
   margin: 15px;
}

.main  .countbox .count-item{
height: 45px;
width: 45px;
margin-bottom: 8px;
display: flex;
align-items: center;
justify-content: center;
color: #fff;
background: #564c2e;
box-shadow: 1px 1px 5px #0005;
border-radius: 5px;
font-size: 20px;
}
.row{
  display: flex;
  width: 100%;
}
.col{
 width: 50%;
  padding: 10px;
}
.text-center {
text-align: center;
}
.animi-content{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-flow: column;
  height: 100%;
  width: 100%;
  padding: 10px;
}
.animi-content p{
  font-size: 30px;
  font-weight: 600;
  color: #6e5427;
  margin-bottom: 15px;
}
.animi-content h2{
  font-size: 40px;
  color: #d46562;
}
.animi-content h4{
  font-size: 24px;
  color: #fe6439;
}
@media (max-width: 991px) {
  .row{
   flex-wrap: wrap;
  }
  .col{
    width: 100%;
    padding: 20px;
  }
}
